html {
    background-color: black;
    color: white;
}
.App {
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: white;
}

  .pagebuttons {
      margin-top: 50px;
  }

  .onepassenger {
      border: 1px solid black;
  }
  .charts {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  nav {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;
      color: white;
  }
  .link {
      color: white;
      text-decoration: none;
  }
  .link:hover {
    color: rgb(196, 69, 19);
  }

  .modal {
      background-color: black;
      color: white;
      text-align: center;
  }